/* Outer div container */
.Contact {
    width: 100%;
    height: auto;
    margin: auto;
    background-color: #f7f7f7;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 50px;

}

#Title{
    width: 100%;
    margin: auto;
    margin-bottom: 10px;
    font-family: "Poppins", 'Times New Roman', Times, serif;
    font-size: 40px;
    font-weight: normal;
}

#ConnectMessage {
    width: 100%;
    margin: auto;
    line-height: 1.5;
    font-family: "Poppins", 'Times New Roman', Times, serif;
    font-size: 18px;
    color: #636363;
    margin-bottom: 15px;
}

 .Button{   
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 10px;
    border-radius: 8px;
    align-items: center;
    font-family: "Helvetica", 'Times New Roman', Times, serif;
 }

 /* Image/icon */

 .Button-img{
     width: 50px;
     height: 50px;
 }