@media screen and (min-width: 768px){
/* Black horrizontal line */
.Divider{
    width: 80%;
    height: auto;
    margin: auto;
}

.Education-container {
    padding-top: 20px;
    padding-bottom: 70px;
}

/* Content div */
.Education {
    width: 80%;
    height: auto;
    margin: auto;
}

.Education h4{
    text-align: left;
    width: 95%;
    margin-left: 5%;
    font-size: 20px;
    font-family: "Helvetica", 'Times New Roman', Times, serif;
}

.Education p{
    width: 90%;
    margin-left: 10%;
    font-size: 18px;
    line-height: 1.5;
    font-family: "Book Antiqua", 'Times New Roman', Times, serif;
}
}

@media screen and (max-width: 767px){
    .Divider{
        width: 80%;
        height: auto;
        margin: auto;
    }
    
    .Education-container {
        padding-top: 20px;
        padding-bottom: 70px;   
    }
    
    .Education {
        width: 80%;
        height: auto;
        margin: auto;
    }
    
    .Education h4{
        text-align: center;
        width: 100%;
        font-size: 20px;
        font-family: "Helvetica", 'Times New Roman', Times, serif;
    }
    
    .Education p{
        width: 100%;
        font-size: 18px;
        line-height: 1.5;
        font-family: "Book Antiqua", 'Times New Roman', Times, serif;
        text-align: center;
    }
}